.articles {
	width: 100%;
	height: fit-content;
}

.container {
	padding: 5em 0em 3em 8em;
}

.header {
	width: 100%;
	font-size: 4em;
}

.info {
	white-space: pre;
	color: #4d4d4d;
}

.text {
	display: block;
}

@media screen and (max-width: 700px) {
	.container {
		padding-left: 4em;
	}
}

@media screen and (max-width: 500px) {
	.container {
		padding-left: 2.5em;
	}
}