.articles {
	width: 100%;
	height: fit-content;
}

.articles__container {
	padding: 5em 0em 3em 8em;
}

.articles__header {
	width: 100%;
	font-size: 4em;
}

.articles__info {
	white-space: pre;
	color: #4d4d4d;
}

.articles__info span, .content__text span {
	display: block;
}

.articles__mainarticle {
	width: 87%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 8em;
	background-color: #FFF;
}

.mainarticle__photo {
	width: 60%;
	height: 100%;
	object-fit: cover;
}

.mainarticle__content {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content__title {
	margin-bottom: 1em;
	font-size: 2.5em;
	text-align: center;
}

.content__title span {
	color: rgb(255, 187, 61);
}

.content__text {
	white-space: pre-wrap;
	color: #585858;
}

.content__text span:nth-child(2) {
	color: rgb(74, 130, 250);
}

.content__text span:nth-child(3) {
	color: rgb(252, 195, 90)
}

@media screen and (max-width: 1500px) {
	.mainarticle__photo {
		width: 50%;
	}
	.mainarticle__content {
		width: 50%;
	}
}

@media screen and (max-width: 1200px) {
	.articles__mainarticle {
		width: 80%;
		height: 80vh;
		flex-direction: column-reverse;
	}
	.mainarticle__photo {
		width: 100%;
		height: 50%;
	}
	.mainarticle__content {
		width: 100%;
		height: 50%;
	}
}

@media screen and (max-width: 768px) {
	.articles__container {
		width: 80%;
		margin: auto;
		padding: 3em 0 3em 0;
	}
	.articles__mainarticle {
		width: 90%;
		margin: auto;
		font-size: .9em;
	}
}

@media screen and (max-width: 400px) {
	.articles__container {
		font-size: 15px
	}
	.articles__mainarticle {
		width: 90%;
		margin: auto;
		font-size: 14px;
	}
	.content__title {
		margin-bottom: .3em;
	}
}